.summary{
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 20px;
    background-color: rgb(239 230 193)
}
h1{
    font-size: 24px;
    color: #534a4a;
    margin-bottom: 10px;
}
#username{
    font-weight: bold;
    font-size: 20px;
    color: #2e6da4;
}
li{
    margin-bottom: 8px;
    color: #555555;
}
p{
    margin-bottom: 12px;
}